    <form [formGroup]="form" (ngSubmit)="submitForm(form)" id="test">

        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Name" formControlName="name" name = "name">
        </div>
        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Character" formControlName="character" character = "character">
        </div>


        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Create</button>
        </div>
    </form>